In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("payroll.txt")

In [4]:
# Creating additional columns
df["regular_pay"] = ""
df["ot_pay"] = ""
df["gross_pay"] = ""
df["fed_tax"] = ""
df["state_tax"] = ""
df["fica"] = ""
df["net_pay"] = ""

In [5]:
def calculate_regular_pay(x):
    return  x.pay_rate * x.hours_worked if x.hours_worked < 40 else 40 * x.pay_rate

In [6]:
df["regular_pay"] = df.apply(calculate_regular_pay, axis=1)

In [7]:
def calculate_overtime_pay(x):
    return (x.hours_worked - 40) * (1.5 * x.pay_rate) if x.hours_worked > 40 else 0

In [8]:
df["ot_pay"] = df.apply(calculate_overtime_pay , axis=1)

In [9]:
def calculate_gross_pay(x):
    return x.regular_pay + x.ot_pay

In [10]:
df["gross_pay"] =  df.apply(calculate_gross_pay , axis=1)

In [11]:
def calculate_fed_tax(x):
    return x.gross_pay * .10

In [12]:
df["fed_tax"] = df.apply(calculate_fed_tax, axis=1)

In [13]:
def calculate_state_tax(x):
    return x.gross_pay * .06

In [14]:
df["state_tax"] = df.apply(calculate_state_tax, axis=1)

In [15]:
def calculate_fica(x):
    return x.gross_pay * .03

In [16]:
df["fica"] = df.apply(calculate_fica, axis=1)

In [17]:
def calculate_net_pay(x):
    return x.gross_pay - (x.fed_tax + x.state_tax + x.fica)

In [18]:
df["net_pay"] = df.apply(calculate_net_pay, axis=1)

In [19]:
df = df.rename(columns={
    "employee_name": "Employee Name",
    "pay_rate": "Pay Rate",
    "hours_worked": "Hours Worked",
    "regular_pay": "Regular Pay",
    "ot_pay": "OT Pay",
    "gross_pay": "Gross Pay",
    "fed_tax": "Fed Tax",
    "state_tax": "State Tax",
    "fica": "FICA",
    "net_pay": "Net Pay",
})

In [20]:
df2 = pd.read_csv("payroll.txt")
display(df2)

  employee_name  pay_rate  hours_worked
0           Bob     15.50            20
1         Alice     17.50            40
2          Jane     16.50            45
3       Michael     17.75            30
4          Jack     15.00            20
5        Nelson     17.00            40
6      Anderson     16.00            45
7         David     17.45            30
8       Brandon     17.00            16
9         Daisy     17.00            30